 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 @font-face {
    font-family: "Hempa Sans";
    src: url("https://itzfizzdigital.b-cdn.net/UniteaSans-Regular.ttf");
    }
    body{
        font-family: "Hempa Sans";
    }
 

        
	html{
		width:100%;
overflow-x:hidden;
}

        		form{
			/* font-family: arial,sans-serif; */
			font-size: 18px;
			max-width: 50vw;
			/* margin: 0 auto; */
		}
		input,select,label{
			/* margin: 5px 10px; */
			/* font-family: arial,sans-serif; */
			font-size: 20px;
			padding:1% 5%;
            width: 50vw;
            background-color: #fff;
            box-shadow: 3px 3px 0 #000000;
            border-radius: 50px;
		}
		label{
			position: absolute;
		}
		select{
			/* margin-left: 140px; */
		}
		input[type="text"] {
			width: 100%;
		}
		input[type="submit"] {
    background-color: #222222;
    color: #FFF;
    border: none;
    padding: 1% 7%;
    width: 40%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2%;
    /* margin-left: -190px; */
    border-radius: 30px;
    box-shadow: 3px 3px 0 #fff;
}		
		ul{
			list-style: none;
			/* margin: 40px auto; */
			max-width: 800px;
		}
		li{
			/* margin-bottom: 26px; */
			/* margin-left: 26px; */
			position: relative;
		}
		li.other{
			opacity: 0.5;
		}
		.title{
			color:rgb(26, 13, 171);
			font-family: arial, sans-serif;
			font-size: 18px;
			line-height: 21.6px;
			cursor: pointer;
			clear: both;
			display: block;
		}
		.title:hover{
			text-decoration: underline;
		}
		.link{
			color: #006621;
			font-family: arial, sans-serif;
			font-size: 14px;
			line-height: 16px;
			clear: both;
			display: block;
		}
		.snippet{
			color: rgb(84, 84, 84);
			font-family: arial, sans-serif;
			font-size: 13px;
			line-height: 18.2px;
		}
		.rank{
			font-family: arial,sans-serif;
		    font-size: 24px;
		    position: absolute;
		    left: -60px;
		    text-align: center;
		    color: #FFF;
		    padding: 22px 15px 10px;
		    background-color: #4216C4;
		    border-radius: 10px;
		}
		.rank:before{
			content: "Google Position";
		    font-size: 8px;
		    position: absolute;
		    top: 5px;
		    text-align: center;
		    left: 0;
		    width: 90%;
		    margin: 0 auto;
		}
		
		a {
    color: #ffffff!important;
    font-family: 'monserrat'!important;
}

.footer {
      background-color: #f8f8f8;
      text-align: left;
      background-color: #000000;
      /* margin-bottom: -10px!important; */
    }
    
    .footer p {
      margin: 0;
      color: #ffffff;
    }
    
    .footer-logo {
        
    }
    ul.footer-list a {
    text-decoration: none;
}
    
    .footer-logo img {
 height: 50px; /* Adjust the height as needed */
      /* margin-right: 20px; Adjust the spacing as needed */
      /* margin-left: 5px; */
    }
    
    .logo-list{
     /* margin-left: 80%;
     margin-top: -40px!important; */
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 55%;
  display: flex;
    }
    
    .footer-list{
        display: flex;
        /* margin-left: 60%;
        margin-top: -10px; */
        text-decoration: none!important;
    }
    input.label {
    width: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    border: none;
}
    input.label2 {
    font-size: 20px;
			padding:1% 5%;
            width: 50vw;
            background-color: #fff;
            box-shadow: 3px 3px 0 #000000;
            border-radius: 50px;
            border: none;
}
form {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 5%;
}
/* select {
    margin-left: 10px;
    border-radius: 30px;
} */
/* select.label4 {
    margin-left: 227px;
    border-radius: 30px;
     background-color: #4216C4;
    padding: 5px 20px;
    color: #ffffff;
} */
label {
    display: none;
}
/* select.label3 {
    width: 30%;
    border: none;
}
select#pages {
    margin-top: -30px;
} */
.bg-backdrop{
    position: absolute;
    bottom: 0;
    right: 7.5%;
    width: 42.5%;
    height: 80%;
    object-fit: fill;
    z-index: 5;
}
.primary-heading{
    width: 100%;
    /* margin-top: 2.5%; */

    >h1{
        font-size: 78px;
        margin-left: 7.5%;
        line-height: 1.3em;
        font-weight: 600;
letter-spacing: 2px;
    }
    >h2{
        font-size: 32px;
        margin-left: 7.5%;
        line-height: 1.3em;
        font-weight: 400;
        width: 40%;

    }
}
#section-1{
    padding: 3% 0;
    width: 100vw;
    height: 120vh;
    background-color: #d3eaff;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.main {
    height: 50%;
    margin-left: 7.5%;
    margin-top: 1%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* padding-bottom: 50px; */
  }
/* .my-div{
    margin-left: 800px;
    margin-top: -70px!important;
} */
/* .ghjk{

    font-family: 'montserrat'!important;
    font-size: 24px;
    line-height: 29px;
       margin: 150px 0px 0px 275px;
    position: absolute;
}
     */